.submit-btn {
  background-color: #2f2f2f;
  border: none;
  color: #fff;

  display: block;
  width: 100%;

  font-size: 1.5em;
  font-weight: 600;

  padding: 0.5em;

  border-radius: 0.4em;
  cursor: pointer;
}

.submit-btn:disabled {
  cursor: default;
  opacity: 0.2;
}

.submit-btn.pending {
  background-color: #616c82;
  opacity: 1;
}

input[type='checkbox'] {
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0;
}

.bold {
  font-weight: bold;
}

.back {
  color: black;
  font-size: 1.5em;
  margin: 1em auto;
  display: block;
  width: fit-content;
  position: relative;
}

.back::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-bottom: none;
  border-right: none;

  position: absolute;
  left: -14px;
  top: 6px;
  transform: rotate(-45deg);
}

.data {
  width: 100%;
  font-size: 1.2em;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form input,
.form select {
  border: 1px solid #aaaa;
  border-radius: 0.5em;
  background: #fff;
  font-size: 1em;
  padding: 0.7em;
}

.capacity input {
  flex-grow: 1;
}

.form .label {
  margin-bottom: 2em;
  display: block;
}

.form span[role='label'] {
  font-size: 1.3em;
}

.form span[role='label'] .row {
  margin: 0.5em 0;
}

.form .form-inputs {
  flex-grow: 1;
}

.ln-invoice.label {
  margin-top: 3em;
  margin-bottom: 5em;
}

.ln-invoice.label input {
  width: 100%;
}
